@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #000;
  cursor: pointer; }

p, h1, h2, h3 {
  font-weight: normal; }

img {
  width: 100%;
  height: auto;
  vertical-align: middle; }

.head {
  position: fixed;
  top: 0;
  background: #FFF;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  padding: 0 24px; }
  .head-index {
    font-family: "Galada", cursive;
    font-size: 24px;
    line-height: 86px; }
  .head-drawer {
    position: relative; }
    .head-drawer-checkbox {
      display: none; }
    .head-drawer-icon {
      z-index: 4;
      cursor: pointer;
      display: block;
      width: 74px;
      height: 80px;
      position: fixed;
      right: 0; }
      .head-drawer-icon-parts, .head-drawer-icon-parts:before, .head-drawer-icon-parts:after {
        background-color: #000;
        display: block;
        width: 26px;
        height: 2px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto; }
      .head-drawer-icon-parts:before {
        content: "";
        top: 18px; }
      .head-drawer-icon-parts:after {
        content: "";
        top: -18px; }
    .head-drawer-menu {
      z-index: 3;
      background: #FFF;
      color: #000;
      max-width: 100%;
      width: 100vw;
      height: calc(100vh - 80px);
      overflow: scroll;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      position: fixed;
      top: 80px;
      right: -100vw; }
    .head-drawer-checkbox:checked ~ .head-drawer-icon .head-drawer-icon-parts {
      background: transparent; }
    .head-drawer-checkbox:checked ~ .head-drawer-icon .head-drawer-icon-parts:before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 0; }
    .head-drawer-checkbox:checked ~ .head-drawer-icon .head-drawer-icon-parts:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0; }
    .head-drawer-checkbox:checked ~ .head-drawer-menu {
      right: 0; }
    .head-drawer-icon-parts, .head-drawer-icon-parts:after, .head-drawer-icon-parts:before, .head-drawer-overlay, .head-drawer-menu {
      -webkit-transition: all .5s;
      transition: all .5s; }
    .head-drawer-list {
      margin: 48px 0; }
    .head-drawer-item {
      text-align: center; }
      .head-drawer-item a {
        display: block; }
      .head-drawer-item + .head-drawer-item {
        margin-top: 32px; }
      .head-drawer-item-eng {
        font-family: "Galada", cursive;
        font-size: 20px; }
      .head-drawer-item-jpn {
        font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "ヒラギノ明朝 Pro W6", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Hiragino Mincho ProN", serif;
        font-size: 14px;
        padding-top: 2px; }

.main-wrapper {
  padding: 0 24px;
  max-width: 840px;
  margin: 0 auto; }

.main-title {
  margin-top: 160px;
  font-family: "Galada", cursive;
  font-size: 44px;
  text-align: center; }
  @media screen and (min-width: 480px) {
    .main-title {
      margin-top: 180px; } }

.main-visual {
  margin-top: 80px; }
  @media screen and (min-width: 480px) {
    .main-visual {
      margin-top: 100px; } }

.main-event {
  margin-top: 100px !important; }

.main-part {
  margin-top: 56px !important; }

.event-title {
  font-size: 18px;
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "ヒラギノ明朝 Pro W6", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Hiragino Mincho ProN", serif; }

.event-textCenter {
  text-align: center; }

.event-titleLittle {
  margin-top: 4px; }

.event-titleSub {
  margin-top: 20px; }

.event-partTitle {
  font-size: 13px;
  line-height: 20px;
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "ヒラギノ明朝 Pro W6", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Hiragino Mincho ProN", serif;
  margin: 8px 0 4px; }

.event-text {
  font-size: 13px;
  line-height: 20px;
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "ヒラギノ明朝 Pro W6", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Hiragino Mincho ProN", serif; }

.event-textBlock {
  margin-top: 8px; }

.event-image {
  margin-top: 20px; }

.event-3pImage {
  margin-top: 20px; }
  @media screen and (min-width: 480px) {
    .event-3pImage {
      margin-top: 0; } }

.event-imageBlock {
  margin-top: 20px; }
  .event-imageBlock p + p {
    margin-top: 12px; }
    @media screen and (min-width: 480px) {
      .event-imageBlock p + p {
        margin-top: 0; } }

.event-detail {
  margin-top: 20px; }

.part-topS {
  margin-top: 20px; }
  @media screen and (min-width: 480px) {
    .part-topS {
      margin-top: 0;
      flex: 1; } }

.part-image + .part-image {
  margin-top: 12px; }

@media screen and (min-width: 480px) {
  .part-imageL {
    margin-right: 32px; }
  .part-imageR {
    margin-left: 32px; }
  .part-image + .part-image {
    margin-left: 20px;
    margin-top: 0; } }

@media screen and (min-width: 480px) {
  .layout-flexSmall {
    display: flex; }
    .layout-flexSmall + .layout-flexSmall {
      margin-top: 20px; }
  .layout-flexCenter {
    align-items: center; }
  .layout-halfSmall {
    width: calc((100% - 20px) / 2); }
    .layout-halfSmall + .layout-halfSmall {
      margin-left: 20px; }
  .layout-3partSmall {
    width: calc((100% - 40px) / 3); }
    .layout-3partSmall + .layout-3partSmall {
      margin-left: 20px; } }

.layout-position {
  width: 100%;
  position: relative; }
  @media screen and (min-width: 480px) {
    .layout-position {
      width: 50%;
      margin-right: 32px; } }
  .layout-position-heightA {
    height: calc(80vw + (100vw - 48px) * 0.7 / 70 * 46); }
    @media screen and (min-width: 480px) {
      .layout-position-heightA {
        height: calc(40vw + (100vw - 48px) / 2 * 0.7 / 70 * 46); } }
    @media screen and (min-width: 908px) {
      .layout-position-heightA {
        height: calc(370px + 193px); } }
  .layout-position-heightB {
    height: calc(54vw + (100vw - 48px) * 0.64 / 4 * 3 + 10px); }
    @media screen and (min-width: 480px) {
      .layout-position-heightB {
        height: calc(27vw + (100vw - 48px) / 2 * 0.66 / 4 * 3 + 10px); } }
    @media screen and (min-width: 908px) {
      .layout-position-heightB {
        height: calc(250px + 210px); } }
  .layout-position-heightC {
    height: calc(80vw + (100vw - 48px) * 0.7 / 600 * 353); }
    @media screen and (min-width: 480px) {
      .layout-position-heightC {
        height: calc(40vw + (100vw - 48px) / 2 * 0.7 / 600 * 353); } }
    @media screen and (min-width: 908px) {
      .layout-position-heightC {
        height: calc(370px + 172px); } }
  .layout-position-heightD {
    height: calc(72vw + (100vw - 48px) * 0.8 / 900 * 500); }
    @media screen and (min-width: 480px) {
      .layout-position-heightD {
        height: calc(36vw + (100vw - 48px) / 2 * 0.8 / 900 * 500); } }
    @media screen and (min-width: 908px) {
      .layout-position-heightD {
        height: calc(330px + 187px); } }
  .layout-position-heightE {
    height: calc(60vw + (100vw - 48px) * 0.6 / 706 * 531); }
    @media screen and (min-width: 480px) {
      .layout-position-heightE {
        height: calc(30vw + (100vw - 48px) / 2 * 0.6 / 706 * 531); } }
    @media screen and (min-width: 908px) {
      .layout-position-heightE {
        height: calc(270px + 190px); } }
  .layout-position-heightF {
    height: calc(78vw + (100vw - 48px) * 0.4 / 168 * 126); }
    @media screen and (min-width: 480px) {
      .layout-position-heightF {
        height: calc(39vw + (100vw - 48px) / 2 * 0.4 / 168 * 126); } }
    @media screen and (min-width: 908px) {
      .layout-position-heightF {
        height: calc(360px + 126px); } }
  .layout-position-heightG {
    height: calc(44vw + (100vw - 48px) * 0.8 / 1280 * 853); }
    @media screen and (min-width: 480px) {
      .layout-position-heightG {
        height: calc(22vw + (100vw - 48px) / 2 * 0.8 / 1280 * 853); } }
    @media screen and (min-width: 908px) {
      .layout-position-heightG {
        height: calc(200px + 224px); } }
  .layout-position-heightH {
    height: calc(58vw + (100vw - 48px) * 0.55 / 800 * 596); }
    @media screen and (min-width: 480px) {
      .layout-position-heightH {
        height: calc(29vw + (100vw - 48px) / 2 * 0.55 / 800 * 596); } }
    @media screen and (min-width: 908px) {
      .layout-position-heightH {
        height: calc(270px + 172px); } }
  .layout-position-heightI {
    height: calc(60vw + (100vw - 48px) * 0.7 / 2000 * 1334); }
    @media screen and (min-width: 480px) {
      .layout-position-heightI {
        height: calc(30vw + (100vw - 48px) / 2 * 0.7 / 2000 * 1334); } }
    @media screen and (min-width: 908px) {
      .layout-position-heightI {
        height: calc(270px + 196px); } }
  .layout-position-heightJ {
    height: calc(72vw + (100vw - 48px) * 0.8 / 1024 * 683); }
    @media screen and (min-width: 480px) {
      .layout-position-heightJ {
        height: calc(36vw + (100vw - 48px) / 2 * 0.8 / 1024 * 683); } }
    @media screen and (min-width: 908px) {
      .layout-position-heightJ {
        height: calc(330px + 224px); } }
  .layout-position-partA, .layout-position-partB, .layout-position-partC, .layout-position-partD, .layout-position-partE, .layout-position-partF, .layout-position-partG, .layout-position-partH, .layout-position-partI, .layout-position-partJ, .layout-position-partK, .layout-position-partL, .layout-position-partM, .layout-position-partN, .layout-position-partO, .layout-position-partP, .layout-position-partQ, .layout-position-partR, .layout-position-partS, .layout-position-partT, .layout-position-partU, .layout-position-partV, .layout-position-partW, .layout-position-partX, .layout-position-partY, .layout-position-partZ {
    position: absolute;
    height: auto; }
  .layout-position-partA {
    width: 90%;
    right: 0; }
  .layout-position-partB {
    width: 70%;
    top: 48vw;
    z-index: -1; }
    @media screen and (min-width: 480px) {
      .layout-position-partB {
        top: 24vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partB {
        top: 220px; } }
  .layout-position-partC {
    width: 70%;
    height: auto;
    top: 80vw;
    right: 0;
    z-index: -2; }
    @media screen and (min-width: 480px) {
      .layout-position-partC {
        top: 40vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partC {
        top: 370px; } }
  .layout-position-partD {
    width: 60%;
    z-index: -1; }
  .layout-position-partE {
    width: 56%;
    top: 10vw;
    right: 0; }
    @media screen and (min-width: 480px) {
      .layout-position-partE {
        top: 5vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partE {
        top: 40px; } }
  .layout-position-partF {
    width: 64%;
    height: auto;
    top: 54vw;
    right: 0; }
    @media screen and (min-width: 480px) {
      .layout-position-partF {
        top: 28vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partF {
        top: 250px; } }
  .layout-position-partG {
    width: 90%;
    z-index: -1; }
  .layout-position-partH {
    width: 56%;
    top: 48vw;
    right: 0; }
    @media screen and (min-width: 480px) {
      .layout-position-partH {
        top: 24vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partH {
        top: 220px; } }
  .layout-position-partI {
    width: 80%;
    height: auto;
    top: 72vw;
    z-index: -1; }
    @media screen and (min-width: 480px) {
      .layout-position-partI {
        top: 36vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partI {
        top: 330px; } }
  .layout-position-partJ {
    width: 64%;
    height: auto;
    top: 0;
    z-index: -1; }
  .layout-position-partK {
    width: 60%;
    height: auto;
    top: 60vw;
    right: 0;
    z-index: -1; }
    @media screen and (min-width: 480px) {
      .layout-position-partK {
        top: 30vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partK {
        top: 270px; } }
  .layout-position-partL {
    width: 50%;
    z-index: -1; }
  .layout-position-partM {
    width: 64%;
    top: 28vw;
    right: 0; }
    @media screen and (min-width: 480px) {
      .layout-position-partM {
        top: 14vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partM {
        top: 130px; } }
  .layout-position-partN {
    width: 50%;
    top: 56vw;
    left: 10%; }
    @media screen and (min-width: 480px) {
      .layout-position-partN {
        top: 28vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partN {
        top: 260px; } }
  .layout-position-partO {
    width: 40%;
    height: auto;
    top: 78vw;
    right: 0;
    z-index: -1; }
    @media screen and (min-width: 480px) {
      .layout-position-partO {
        top: 39vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partO {
        top: 360px; } }
  .layout-position-partP {
    width: 64%; }
  .layout-position-partQ {
    width: 36%;
    right: 0; }
  .layout-position-partR {
    width: 50%;
    top: 32vw;
    right: 0;
    z-index: -1; }
    @media screen and (min-width: 480px) {
      .layout-position-partR {
        top: 16vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partR {
        top: 146px; } }
  .layout-position-partS {
    width: 80%;
    height: auto;
    top: 44vw;
    z-index: -2; }
    @media screen and (min-width: 480px) {
      .layout-position-partS {
        top: 22vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partS {
        top: 200px; } }
  .layout-position-partT {
    width: 55%; }
  .layout-position-partU {
    width: 80%;
    top: 6vw;
    right: 0;
    z-index: -1; }
    @media screen and (min-width: 480px) {
      .layout-position-partU {
        top: 3vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partU {
        top: 30px; } }
  .layout-position-partV {
    width: 60%;
    top: 46vw;
    right: 4%; }
    @media screen and (min-width: 480px) {
      .layout-position-partV {
        top: 23vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partV {
        top: 210px; } }
  .layout-position-partW {
    width: 55%;
    height: auto;
    top: 58vw;
    z-index: -1; }
    @media screen and (min-width: 480px) {
      .layout-position-partW {
        top: 29vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partW {
        top: 270px; } }
  .layout-position-partX {
    width: 78%;
    right: 0;
    z-index: -1; }
  .layout-position-partY {
    width: 70%;
    top: 36vw; }
    @media screen and (min-width: 480px) {
      .layout-position-partY {
        top: 18vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partY {
        top: 170px; } }
  .layout-position-partZ {
    width: 70%;
    height: auto;
    top: 60vw;
    right: 0;
    z-index: -2; }
    @media screen and (min-width: 480px) {
      .layout-position-partZ {
        top: 30vw; } }
    @media screen and (min-width: 908px) {
      .layout-position-partZ {
        top: 270px; } }

.note {
  margin-top: 100px;
  font-size: 12px;
  line-height: 20px;
  font-family: sans-serif; }

.foot {
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #000;
  text-align: center;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  margin-top: 64px; }

.main-visual {
  margin-left: auto;
  margin-right: auto; }

@keyframes loop_img {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); } }

#sliderPage {
  overflow: hidden;
  width: 100vw;
  height: 312px;
  position: relative; }
  #sliderPage ul {
    position: absolute;
    left: 0;
    display: flex; }
  #sliderPage li {
    width: 2239px;
    height: 312px; }
    #sliderPage li img {
      width: 2239px;
      height: 312px; }

@media screen and (min-width: 480px) {
  .image-sizeA img {
    width: 45vw;
    height: auto; } }

@media screen and (min-width: 600px) {
  .image-sizeA img {
    width: 50vw;
    height: auto; } }

@media screen and (min-width: 740px) {
  .image-sizeA img {
    width: 60vw;
    height: auto;
    max-width: 520px; } }

@media screen and (min-width: 480px) {
  .image-sizeB img {
    width: 45vw;
    height: auto; } }

@media screen and (min-width: 600px) {
  .image-sizeB img {
    width: 30vw;
    height: auto;
    max-width: 260px; } }

.image-border {
  box-sizing: border-box;
  border: 1px solid #000; }
  .image-borderOutside {
    box-sizing: border-box;
    padding: 10px;
    background: #FFF;
    border: 1px solid #000; }

@media screen and (min-width: 480px) {
  .museums_gallerys-flexLeft {
    width: 50%; } }

.museums_gallerys-flexRight {
  flex: 1; }

.museums_gallerys-title {
  font-size: 18px;
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "ヒラギノ明朝 Pro W6", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Hiragino Mincho ProN", serif;
  margin-top: 20px; }

.hotels .main-visual {
  max-width: 340px; }

.restaurants .main-visual {
  width: 220px;
  height: auto; }

.restaurants-image + .restaurants-image {
  margin-top: 8px; }
  @media screen and (min-width: 480px) {
    .restaurants-image + .restaurants-image {
      margin-left: 8px;
      margin-top: 0; } }

@media screen and (min-width: 480px) {
  .restaurants .layout-flexSmall {
    margin-right: auto;
    margin-left: auto;
    justify-content: center; } }

.restaurants .layout-flexSmall img {
  box-sizing: border-box;
  width: 220px;
  height: auto;
  border: 1px solid #000;
  padding: 8px;
  border-radius: 110px; }
  @media screen and (min-width: 480px) {
    .restaurants .layout-flexSmall img {
      max-width: 220px;
      width: calc((100% - 16px) / 3); } }

.architecture .main-visual {
  max-width: 430px; }

.architecture .event-text:nth-child(2) {
  margin-bottom: 16px; }

@media screen and (min-width: 600px) {
  .architecture .flex-middle {
    display: flex; } }

@media screen and (min-width: 1000px) {
  .architecture .flex-large {
    display: flex; } }

.architecture img {
  width: 100%;
  height: 100%; }

.architecture .border-small {
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid #2b2b2b; }
  @media screen and (min-width: 908px) {
    .architecture .border-small {
      border-top: 1px solid #2b2b2b;
      border-bottom: none; } }

@media screen and (min-width: 600px) {
  .architecture .border-middle {
    box-sizing: border-box;
    border-top: 1px solid #2b2b2b; } }

@media screen and (min-width: 908px) {
  .architecture .border-middle {
    border-top: none;
    border-bottom: 1px solid #2b2b2b; } }
